{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
        {% for name, current_chore in data %}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>{{ name }}</h4></div>
                    <div class="panel-body">
                        <a href="{{ url_for("profile", name=name) }}"><img src="{{ url_for("static", filename="{}.jpeg".format(name)) }}" class="thumbnail"></a>
                        <h4>
                            <span class="label label-danger">{{ current_chore }}</span>
                        </h4>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}