{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
        {% for name, current_chore in data %}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>{{ name }}</h4></div>
                    <div class="panel-body">
                        <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                        <a href="{{ url_for("base_app.profile", name=name) }}"><img src="{{ url_for("base_app.static", filename="{}.jpg".format(name)) }}" class="img img-thumbnail center-block"></a>
                                </div>
                        </div>
                        <div class="row">
                        <h4>
                            <span class="label label-danger">{{ current_chore }}</span>
                        </h4>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

    {% endfor %}
        </div>
    </div>
{% endblock %}