{% extends "layout.html" %}
{% block content %}
    <div class="alert alert-success">
        <h3>This weeks chore:
            <span class="label label-danger">{{current_chore.title}}</span>
            <a href="{{ url_for("get_ical", name=title) }}">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            </a>
        </h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Your IOUs</h4></div>
        <form method="post" name="You Owe">
            <div class="container-fluid">
                <div class="row">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">You Owe</div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <th>To</th><th>Amount</th><th>Update</th>
                                        </tr>
                                        {% for _, to, amount in debts %}
                                        <tr>
                                            <td>{{ to }}</td><td>£{{ amount }}</td>
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-addon">+£</div>
                                                    <input class="form-control" type="number" name="{{ to }}" step="any">
                                                </div>
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="3">... No-one! You're in the clear :D</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">I'm Owed:</div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <th>From</th><th>Amount</th><th>Update</th>
                                        </tr>
                                        {% for from, _, amount in debits %}
                                        <tr>
                                            <td>{{ from }}</td><td>£{{ amount }}</td>
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-addon">-£</div>
                                                    <input class="form-control" type="number" name="{{ from }}" step="any">
                                                </div>
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="3">Nowt... consider being more generous</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">You're Quits with:</div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <th>Person</th><th>Now Owe</th>
                                        </tr>
                                        {% for from, to, _ in quits %}
                                        <tr>
                                            <td>{{ from }}</td>
                                            <td>
                                            <div class="input-group">
                                                <div class="input-group-addon">+£</div>
                                                <input class="form-control" type="number" name="{{ from }}" step="any">
                                            </div>
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="2">No-one! Maybe You need to put some effort in</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid">
                                <input class="btn btn-primary btn-block" type="submit" value="Update">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}